@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundimg{
    background-image: url('./_assets/bgpc.svg');
    background-position:100% 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg1{
    background-image: url('/Background.svg'); 
}